/*------------------------Clear Default CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/*-----------------Import Assistant font*/
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

/*----------------Declare System Font stack variable*/
/*----------------allows use of system font on all systems*/
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

/*---------------Body Styles*/

.bg-blue {
  background-color: #d1e0f5;
}


/*---------------Element Styles*/

h1 {
  font-family: Assistant, sans-serif;
}

p {
  font-family: var(--system-ui);
  padding: 0;
  margin-top: 0;
}


main {
  background: url("images/background-image.jpg") no-repeat center center/cover;
  height: 95vh;
  align-items: center;
}


.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(49, 46, 40, 40%);
  overflow: auto;
}

header {

  padding: 0 .2rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}


/* Recipe Page main content */
#recipe-title {
  text-align: center;
  color: #f5f5f5;
  font-family: Assistant, sans-serif;
  font-size: 3vw;
  padding-bottom: 20px;
  margin-top: 75px;
}

.recipe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
}

.polaroid {
  margin-bottom: 30px;
}

.recipe-image {
  height: 300px;
  width: 300px;
  margin-bottom: 2px;
}

.polaroid {
  background-color: #f0f0f0;
  height: 383px;
  width: 330px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  color: white;
}

.modal-body p,
.modal-body li {
  margin-left: 9px;
}

.modal-body p {
  font-weight: 600;
}

.btn-primary {
  color: whitesmoke;
  background-color: black;
  border-color: black;
  font-family: var(--system-ui);
}


.navigation {
  font-family: var(--system-ui);
}


.logo {
  font-size: large;
  padding-left: .4em;
  margin-top: 8px;
}

nav {
  position: absolute;
  background-color: #d1e0f5;
  padding: .5rem .5rem;
  width: 100%;
  left: 0;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}

#menu {
  font-size: 100%;
  letter-spacing: 2px;
  list-style-type: none;
}

#menu>li {
  margin-bottom: .1em;
  margin: .1em;
  letter-spacing: 1px;
}

.nav-link {
  display: block;
  padding: 0.1em 0.1em;
}

.active {
  font-size: 90%;
  border-top: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background-color: rgb(216, 221, 224);
}

/*Nav Toggle*/

#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  margin-right: .5em;
}

.footer {
  padding: 0;
  margin: 0;
  height: 10px;
  width: 100%;
  bottom: 0;
  position: relative;
}

div p {
  font-family: var(--system-ui);
  padding: 2px;
  margin: 0;
}

#social-networks {
  text-align: center;
  margin: 0;
  padding: 4px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 1px;
  color: #3A3A3A;
}
#social-networks p{
  margin-top: 0;;
  padding: 0;
}

/*---------------Content Styles*/
.content-container {
  width: 90%;
  height: 90vh;
  background-color: rgba(2, 2, 2, 0.2);
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  margin-inline: auto;
}

.content-container h2 {
  font-family: Assistant, sans-serif;
  margin: 1em;
  font-size: 3vw;
}

.content-image img {
  padding: 5px;
  width: 40vw;
  margin: auto;
  display: block;
}

.content-text p {
  font-size: 1.5vw;
  padding: 1em 1em;
  margin: 5 auto;
}

/*    about styling */
.about-title {
  padding-top: 0;
  margin-top: 0;
}

.about-title h3 {
  background-color: rgba(49, 46, 40, 40%);
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  color: #f5f5f5;
  font-family: Assistant, sans-serif;
  font-size: 2.5vw;
  padding-bottom: 20px;
  padding-top: 20px;
}

.card {
  font-family: "Assistant", sans-serif;
  letter-spacing: 1.75px;
  overflow: hidden;
  padding: 30PX;
  background: rgb(211, 211, 211);
  background: linear-gradient(0deg, rgba(211, 211, 211, 0.5) 0%, rgba(209, 224, 245, 0.5) 100%);
  margin: 0%;
  min-height: 55vh;
}

.card-title {
  text-decoration: underline;
}

.card-body {
  padding: 0;
  margin: 0;
}

.card-text {
  font-family: "Assistant", sans-serif;
}

.thankyou {
  display: flex;
  flex-direction: column;

  padding-top: 45vh;
  height: 90vh;
  width: 90%;
}

.btn {
  width: 200px;
  margin: auto;
}

.form {
  padding-left: 15px;
margin-left: 10px;
  font-size: large;
  width: 100%;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

.form input[type=submit] {
  padding: 0px 4px;
  margin-top: 15px;
  max-width: 20%;
}

/* Extra small devices (phones, 600px and down) */
/*set flex for  conmtent to column on mobile screens*/

@media only screen and (max-width: 600px) {

  .logo h1 {
    padding-left: 0;
    font-size: 160%;
    letter-spacing: .1px;
    margin-left: 1px;
  }
  .nav-toggle-label {
    font-size: 1.5rem;
    margin-right: .5em;
    padding-left: 0;
  }
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: .1rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  .content-container h2 {
    font-family: var(--system-ui);
    margin: 1em;
    font-size: 4vw;
  }

  .content-text p {
    padding: 1em 1em;
    margin: 5 auto;
    font-size: 4vw;
  }

  .content-image img {
    padding: 5px;
    width: 80vw;
    margin: auto;
    display: block;

  }

  /* about */
  .about-title h2 {
    background-color: rgba(49, 46, 40, 40%);
    text-align: center;
    justify-content: center;
    
    color: #f5f5f5;
    font-family: Assistant, sans-serif;
    font-size: 3vw;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .card {
    font-size: 1em;
    padding: 10px;
    margin: 10px 20px;
  }

  .about-center {
    overflow: hidden;
  }

  .recipe {
    align-items: space-evenly;
    padding: 30px;
  }

  .polaroid {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 280px;
  }

  .recipe-image {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 200px;
    width: 200px;
    text-align: center;

  }
  .form {
    padding: 10;
    margin: 5;
    font-size: 4vw;
    padding: 1em 1em;
    margin: auto;
    margin-top: 5px;
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: .4rem;
  }

  #menu {
    display: flex;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 220%;
    line-height: 79px;
    margin: 0 0.1rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .polaroid {
    margin-left: 20px;
    margin-right: 20px;
  }

}

@media only screen and (max-width: 776px) and (min-width: 768px) {
  #logo {
    font-size: 220%;
    line-height: 79px;
    margin: 0 0.1rem;
    letter-spacing: .1em;
  }

  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: .1rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .content-image img {
    padding: 5px;
    width: 40vw;
  }

  #menu>li {
    padding-left: 2rem;
}

  .nav-link {
    display: block;
    padding: 0.1em 0.6em;
    font-size: 1rem;
  }

  #logo {
    font-size: 240%;
    margin: 1rem;
    margin-top: 8px;
  }

  input {
    width: 60%;
  }

  textarea {
    width: 60%
  }
}