/*------------------------Clear Default CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/*-----------------Import "Assistant font*/
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

/*----------------Declare System Font stack variable*/
/*----------------allows use of system font on all systems*/
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}

/*---------------Body Styles*/

.bg-blue {
  background-color: #d1e0f5;
}


/*---------------Element Styles*/
p {
  font-family: var(--system-ui);
  padding: 0;
  margin-top: 0;
}

main {
  background: url("/assets/images/background-image.jpg") no-repeat center center/cover;
  height: 94.5vh;
  align-items: center;
  
    }


.mask {
  height: 100%;
  width: 100%;
  background-color: rgba(49, 46, 40, 40%);

}
header{

    padding: 0 .2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
  font-size: large;
  padding-left: .4em;
}

nav {
  position: absolute;
  background-color: #d1e0f5;
  padding: .5rem .5rem;
  width: 100%;
  left: 0;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  top: 100%;
}
#menu {
  font-size: 100%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu>li {
  margin-bottom: .1em;
  margin: .1em;
}
.nav-link {
  display: block;
  padding: 0.1em 0.1em;
}

.active {
  border-top: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
  border-left: 1px solid #3a3a3a;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  background-color: rgb(216, 221, 224);
}
/*Nav Toggle*/

#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  margin-right: .5em;
}

.footer {
  padding: 0;
  margin: 0;
  height: 10px;
  width: 100%;
  bottom: 0;
  position: relative;
}

div p {
  font-family: var(--system-ui);
  padding: 2px;
  margin: 0;
}

#social-networks {
  text-align: center;
  margin: 0;
  padding: 16px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 1%;
  color: #3A3A3A;
}
/*---------------Content Styles*/
.content-container{
  width: 90%;
  height:90vh;
  background-color: rgba(2, 2, 2, 0.2);
  display: flex;
  flex-direction: row;
  padding-top: 56px;
  margin-inline: auto;
}

.content-container h2{
  font-family: var(--system-ui);
  margin: 1em;
  font-size: 2vw;
} 
.content-image img{
padding: 5px;
width: 40vw;
margin: 5 auto;

margin: 2em;
}
.content-text p{
 font-size: 1.5vw;
 padding: 1em 1em;
 margin: 5 auto;
}

/*    about styling */

.about-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  max-width: 80%;
  margin: auto;
}

.about-title {
  color: white;
  text-align: center;
}

.card {
  font-family: "Assistant", sans-serif;
  overflow: hidden;
  padding: 30PX;
  background: rgb(211, 211, 211);
  background: linear-gradient(0deg, rgba(211, 211, 211, 0.5) 0%, rgba(209, 224, 245, 0.5) 100%);
}

.card-title {
  text-decoration: underline;
}

.card-body {
  padding: 0;
  margin: 0;
}

.card-img-top {}

.card-text {
  font-family: "Assistant", sans-serif;
}


/*---------------Media Queries*/

/* Extra small devices (phones, 600px and down) */
/*set flexx for  conmtent to column on mobile screens*/
@media only screen and (max-width: 600px) {

  .logo h1 {
    padding-left: .1em;
    font-size: 8vw;
  }
  .content-container{
  flex-direction: column;
}
.content-container h2{
  font-family: var(--system-ui);
  margin: 1em;
  font-size: 4vw;
} 
.content-text p{
  padding: 1em 1em;
  margin: 5 auto;
  font-size: 3vw;
 }
 .content-image img{
  padding: 5px;
  width: 80vw;
  margin: 5 auto;
  margin: 2em;
  }
/* about */
  .card {
    font-size: 1em;
    padding: 10px;
    margin: 10px 20px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {  
  nav {
      display: block;
      position: relative;
      box-shadow: none;
      width: fit-content;
      padding-right: .4rem;
  }

  #menu {
      display: flex;
  }

  #menu>li {
      padding-left: .5rem;
  }

  .nav-toggle-label {
      display: none;
  }

  #logo {
      font-size: 220%;
      line-height: 79px;
      margin: 0 0.1rem;
  }}
  @media only screen and (max-width: 776px) and (min-width: 768px) {    #logo {
    font-size: 220%;
    line-height: 79px;
    margin: 0 0.1rem;
  }
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: .1rem;
}
  }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}